body {
    background-color: hsl(212, 45%, 89%);

}

.container {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 50em; */
}

.container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code {
    text-align: center;
    margin: auto;
    border-radius: 10px;
    width: 225px;
    height: 400px;
    font-family: 'Outfit', sans-serif;
    border: 2px solid white;
    background-color: hsl(0, 0%, 100%);
}


img {
    display: block;
    
    width: 200px;
    margin: 12.5px;
    border-radius: 10px;
}

.p1 {
    font-weight: 700;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    margin: 15px;
}

.p2 {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 15px;
}
